.color-container {
  margin: 20px;
}

.color-table {
  width: 100%;
  border-collapse: collapse;
}

.color-table th, .color-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.color-cell button {
  padding: 6px 10px;
  margin-right: 5px;
  border: none;
  cursor: pointer;
  background-color: #047e23;
  color: #fff;
  border-radius: 4px;
}

.color-cell button:hover {
  background-color: #01833b;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  background-color: #07b93d;
  border: none;
  color: #fff;
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.page-link:hover {
  background-color: #0b7914;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.color-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.color-submit-button {
  background-color: #0e8d19;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.color-button{
  margin-top: 10px;
}

.color-submit-button:hover {
  background-color: #078025;
}

.notification {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.notification.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.notification.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
